
{%  extends 'hotel/main.html'  %}
{% load static %}
{% load my_filters %}



{% block content %}


<link rel="stylesheet" type="text/css" href="{% static 'hotel/css/main.css' %}">

<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Icons">



{% if hotels %}
    <div class="row">
        {% for hotel in hotels %}
            <div class="col-lg-10 mb-4">
                <a href="{% url 'detail' hotel.id %}" class="box-link" >
                    <div class="box-element product">
                        <div class="row">
                            <div class=" col-md-4">
                                <img class="thumbnail" src="{{ hotel.picture.url }}" style="width: 100%;" alt="{{ hotel.name }}">
                            </div>
                            <div class="col-md-8">
                                <p>{{hotel.number_of_comments}} yorum</p>
                                <h6><strong>{{ hotel.name }}</strong></h6>
    
                                {% if user.is_authenticated %}
                                    <button type="button" class="btn btn-secondary" style="background-color: purple; border: none; color: white; padding: 10px;">
                                        Üye Fıyatından Yararlanılabilir
                                    </button>
                                {% else %}
                                    <a href="{% url 'login' %}">
                                        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
                                        <button type="button" class="btn btn-outline-primary">Üye Fiyatı için giriş yapın</button>
                                    </a>
                                {% endif %}
                                <button style="border-radius: 10%" type="button" class="btn btn-success">
                                    <strong>{{ hotel.rating }}</strong>
                                </button>

                                <h3 style="display: inline-block; float: right; margin-right: 30px ; "><strong> {{ hotel.price }} ₺</strong></h3>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
{% else %}
    <p>No hotels found.</p>
{% endif %}



{% endblock %}
